<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
<header><nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">IES6</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listadoProductos">Lista de Productos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Opciones
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Producto">Productos</a></li>
            <li><a class="dropdown-item" href="/Cliente">Clientes</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/Compras">Compras</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav></header>

<h1>Carga de Productos</h1>
<p>Ingrese los Datos Solicitados</p>
<form data-th-object="${producto}" data-th-action="@{/guardarProducto}" method="post" enctype="multipart/form-data"> 

<label>Codigo</label>
<input type="number" data-th-field= "${producto.codigo}" data-th-readonly=${band}></input>
<br>
<label>Nombre</label>
<input type="text" data-th-field= "${producto.nombre}"></input>
<br>
<label>Descripion</label>
<input type="text" data-th-field= "${producto.descripcion}"></input>
<br>
<label>Categoria</label>
<input type="text" data-th-field= "${producto.categoria}"></input>
<br>
<label>Proveedor</label>
<input type="text" data-th-field= "${producto.proveedor}"></input>
<br>
<label>Precio</label>
<input type="text" data-th-field= "${producto.precio}"></input>
<br>
<label>Fotografia</label>
<input class="form-control" type="file" name="file" accept= "image/png,image/ipeg,/image/gif,image/x-png,  image/jpg" onchange="loadFile(event)"></input>
<img id="output" style="width:150px; padding:3px">
<div class="col">
<input type="submit" value= "Guardar Producto"></input>
</div>

</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
